name: Merge Feature Updates to dev
run-name: Sync workspace from GIT branch ${{ github.ref_name }} 

on:
    workflow_dispatch:
    push:
      branches:
        - dev

jobs:
    deployment-job:
      name: Merge Feature Updates to dev
      runs-on: ubuntu-latest
      permissions:
        contents: write
        
      steps:
        - name: Check out the code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: "3.12"

        - name: Install msal
          run: |
              pip install msal

        - name: Merge Feature Updates
          env:
              REPOSITORY_NAME: ${{ github.repository }}
              BRANCH_NAME: ${{ github.ref_name }}
              FABRIC_TENANT_ID: ${{ vars.FABRIC_TENANT_ID }}
              FABRIC_CLIENT_ID: ${{ vars.FABRIC_CLIENT_ID }}
              FABRIC_CAPACITY_ID: ${{ vars.FABRIC_CAPACITY_ID }}         
              ADMIN_USER_ID: ${{ vars.ADMIN_USER_ID }}
              DEVELOPERS_GROUP_ID: ${{ vars.DEVELOPERS_GROUP_ID }}
              WORKSPACE_ID_DEV: ${{ vars.WORKSPACE_ID_DEV }}
              WORKSPACE_ID_PROD: ${{ vars.WORKSPACE_ID_PROD }}
              FABRIC_CLIENT_SECRET: ${{ secrets.FABRIC_CLIENT_SECRET }}
              ACCESS_TOKEN_FOR_GITHUB: ${{ secrets.ACCESS_TOKEN_FOR_GITHUB }}
          run: 
              python 'src/merge_feature_updates.py'
