
AZURE_TENANT_ID = '5b3572e6-a387-436b-bf93-9bd7d3d54acb'

AZURE_CLIENT_ID = '5bce0f28-0175-49d4-b303-1edf7a57d303'
AZURE_CLIENT_SECRET = 'ADD_IT_HERE'
SERVICE_PRINCIPAL_OBJECT_ID = 'c7b17a8e-3113-4f27-8b8c-9dc2439bd0a3'

FABRIC_CAPACITY_ID = 'e8df4393-c2ea-4f13-a68c-3fdcb8e33f46'
ADMIN_USER_ID = 'e8805a8f-201d-4f06-9e35-0d0b29faebe6'
DEVELOPERS_GROUP_ID = 'f417cc96-40de-4497-91f0-285f696f6819'

AZURE_STORAGE_SAS_TOKEN = 'sv=2024-11-04&ss=b&srt=co&sp=rl&se=2027-05-28T22:50:19Z&st=2025-05-19T14:50:19Z&spr=https&sig=%2FCsr%2F07zsA8EbanP5N1Dy4DAdbKSf7B63iJb1da8LC4%3D'

ADO_ORGANIZATION = "FabricDevCamp"

WORKSPACE_ID_DEV = 'REPLACE_ME'
WORKSPACE_ID_TEST = 'REPLACE_ME'
WORKSPACE_ID_PROD = 'REPLACE_ME'

BUILD_REPOSITORY_NAME = 'REPLACE_ME'

PYTHONPATH='src'