name: Publish All Items
run-name: Publish all items from branch ${{ github.ref_name }} 

on:
    workflow_dispatch:
    push:
      branches:
        - test
        - main

jobs:
    deployment-job:
      name: Publish Items
      runs-on: ubuntu-latest

      steps:
        - name: Check out the code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: "3.12"

        - name: Install msal
          run: |
              pip install msal
        
        - name: Install fabric-cicd
          run: |
              pip install fabric-cicd

        - name: Run Demo
          env:
              BRANCH_NAME: ${{ github.ref_name }}
              GITHUB_WORKSPACE : $GITHUB_WORKSPACE
              FABRIC_CLIENT_ID: ${{ secrets.FABRIC_CLIENT_ID }}
              FABRIC_CLIENT_SECRET: ${{ secrets.FABRIC_CLIENT_SECRET }}
              FABRIC_TENANT_ID: ${{ secrets.FABRIC_TENANT_ID }}
              PERSONAL_ACCESS_TOKEN_GITHUB: ${{ secrets.PERSONAL_ACCESS_TOKEN_GITHUB }}
              FABRIC_CAPACITY_ID: ${{ vars.FABRIC_CAPACITY_ID }}         
              ADMIN_USER_ID: ${{ vars.ADMIN_USER_ID }}
              WORKSPACE_ID_DEV: ${{ vars.WORKSPACE_ID_DEV }}
              WORKSPACE_ID_TEST: ${{ vars.WORKSPACE_ID_TEST }}
              WORKSPACE_ID_PROD: ${{ vars.WORKSPACE_ID_PROD }}
          run: 
              python 'src/publish_all_items.py'
