# Environment-specific configuration
AZURE_TENANT_ID = 'TENANT_ID_HERE'
AZURE_CLIENT_ID = 'CLIENT_ID_HERE'
AZURE_CLIENT_SECRET = 'ADD_SECRET_HERE'

ADMIN_USER_ID = 'ADMIN_USER_ID_HERE'
DEVELOPERS_GROUP_ID = 'DEVELOPERS_GROUP_ID_HERE'

FABRIC_CAPACITY_ID = 'FABRIC_CAPACITY_ID_HERE'

WORKSPACE_ID_DEV = 'WORKSPACE_ID_DEV_HERE'
WORKSPACE_ID_TEST = 'WORKSPACE_ID_TEST_HERE'
WORKSPACE_ID_PROD = 'WORKSPACE_ID_PROD_HERE'

AZURE_STORAGE_SAS_TOKEN = "AZURE_STORAGE_SAS_TOKEN_HERE"

PERSONAL_ACCESS_TOKEN_GITHUB = "PERSONAL_ACCESS_TOKEN_GITHUB_HERE"
GITHUB_REPOSITORY_NAME = "GITHUB_REPOSITORY_NAME_HERE"
ORGANIZATION_GITHUB = "ORGANIZATION_GITHUB_HERE"

AUTHORITY = f'https://login.microsoftonline.com/{AZURE_TENANT_ID}'
PYTHONPATH='src'
