
name: Deploy with Deployment Pipeline
run-name: Deploy ${{inputs.solution_name}} with Deployment Pipeline

on:
    workflow_dispatch:
        inputs:
            project_name:
                description: Project Name
                required: true
                default: "Apollo"
            solution_name:
                type: choice
                description: Solution Name
                options:            
                - Custom Power BI Solution
                - Custom Notebook Solution
                - Custom Shortcut Solution
                - Custom Data Pipeline Solution
                - Custom User Data Function Solution
                - Custom Dataflow Gen2 Solution
                default: Custom Power BI Solution
            git_integration_provider:
                type: choice
                description: Git Integration Provider
                options: 
                - None
                - Azure DevOps
                - GitHub
                default: None
            run_as_service_principal:
                type: boolean
                description: Run as service principal
                default: true

jobs:
    deployment-job:        
        name: Deploy ${{inputs.solution_name}} with Deployment Pipeline
        runs-on: ubuntu-latest

        steps:
          - name: Check out the code
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v2
            with:
              python-version: "3.12"

          - name: Install MSAL
            run: |
              pip install msal -q

          - name: Install PyNaCl
            run: |
              pip install PyNaCl -q

          - name: Install pyodbc
            run: |
              pip install pyodbc -q

          - name: Deploy Solution with Deployment Pipeline
            env:
              FABRIC_CLIENT_ID: ${{ secrets.FABRIC_CLIENT_ID }}
              FABRIC_CLIENT_SECRET: ${{ secrets.FABRIC_CLIENT_SECRET }}
              FABRIC_TENANT_ID: ${{ secrets.FABRIC_TENANT_ID }}                    
              FABRIC_CAPACITY_ID: ${{ secrets.FABRIC_CAPACITY_ID }}             
              ADMIN_USER_ID: ${{ secrets.ADMIN_USER_ID }}
              SERVICE_PRINCIPAL_OBJECT_ID: ${{ secrets.SERVICE_PRINCIPAL_OBJECT_ID }}
              PERSONAL_ACCESS_TOKEN_GITHUB: ${{ secrets.PERSONAL_ACCESS_TOKEN_GITHUB }}
              PROJECT_NAME: ${{ inputs.project_name }}
              SOLUTION_NAME: ${{ inputs.solution_name }}
              GIT_INTEGRATION_PROVIDER: ${{inputs.git_integration_provider}}              
              RUN_AS_SERVICE_PRINCIPAL: ${{inputs.run_as_service_principal}}
            run:
              python src/deploy_solution_with_deployment_pipeline.py